.login{
    height: 100vh;
}

.auth-form{
    margin-top: 150px;
}


.sign-up-ask {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
}

.sign-up-ask p {
  margin: 0;
  font-size: 18px;
  color: #c1c6ce;
}

.sign-up-ask a {
  
  font-size: 18px;

  margin-left: 7px;
}

.sign-up-ask a:hover {
  cursor: pointer;
}