
.filter-bar{
    padding: 20px 20px 50px 50px;
    clear: left;
    width: 20%;
    margin-top: 50px;

}

.product-bar{
    clear: right;
    width: 80%;
}

.category ul{
    padding: 0px;
    font-size: 15px;
}
.category ul li {
    list-style: none;

}

.category ul li ul{
    padding-left: 40px;
    font-size: 13px;
}

.category ul li input{
        vertical-align: middle;
    margin: 0 3px 0 4px
}

.category ul li a{
    color: #363636;
}


/* View product */

.products-style-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items: center;
}

/*Product Item*/

.product-detail{
    clear: left;
}

.cart-option{
    clear:right;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.product-image{
    width: 300px;
    height: 300px;
    background-size: 300px;
    justify-items: center;

    text-align: center;
    background-repeat: no-repeat;
    margin: 15px;
}


.AddCartbutton{
    display: block;
    padding: 6px 15px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background: #62aaa7;
    border:none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    border-bottom: 2px solid gray;
}

.BuyButton{
    margin-top:20px;
    
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: block;
    padding: 6px 15px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background: #b82b21;
    border:none;
    border-bottom: 2px solid gray;
}

@media(max-width: 991px){
    .filter-bar{
        width: 200px;
    }

    .product-bar{
        width: 70%;
    }
}
