.cart-container{
    margin: 70px 50px 0px 50px;

}

.item-container{
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    display:flex;
}

.productimg{
    flex: 1;
}

.description-cart{
    flex:2;
    padding: 0px 15px 0px 15px;
}

.priceqty{
    flex:2;
    display: flex;
}

.proprice{
    flex: 1;
    padding-top: 5px;
}


.proquantity{
    flex:1;
}

.inputqty{
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    color: #4a4a4a;
    text-align: center;

}

.qtychange{
    padding: 0;
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    border: 1px solid gray;
    color: gray;
}

.checkout{
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    color: white;
    background: #b82b21;
}