
.NavBarContent .ShopName{
    color: #b82b21;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    float: left;
}
.NavBarContent{
    z-index: 1;
    height: 55px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    padding: 0 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}

.NavBarContent nav{
    float: right;
}

.NavBarContent nav ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.NavBarContent nav ul li{
    position: relative;
    list-style: none;
}

.NavBarContent nav ul li ul{
    position: absolute;
    display: none;
    
}

.NavBarContent nav ul li ul li{
    position: relative;

    left: -80px;
    width: 200px;
    height: 45px;
}

.NavBarContent nav ul li ul li a{
    border:none;
    height: 45px;
     background: #fff;
     text-align: center;
     line-height: 40px;
     border-bottom: 1px solid #c4c2c2;
     background: #f6f0e9;
}

.NavBarContent nav ul li ul li a:hover{

     background: #f7e2ca;
}



.NavBarContent nav ul li a{
    border-left: 1px solid #ebebeb;
    height: 55px;
    line-height: 50px;
    padding: 0 20px;
    color: #b82b21;
    text-decoration: none;
    display: block;
}

.NavBarContent nav ul li:hover ul{
    display: block;
}

.menu-toggle:hover,
.NavBarContent nav ul li a:hover,
.NavBarContent nav ul li a.active{
    color: #f6f0e9;
    transition: 0.3s;
    background: #b82b21;
}

.menu-toggle{
    height: 55px;
    color: #b82b21;
    padding: 0px 15px 0px 15px;
    float: right;
    line-height: 50ps;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px){
    .NavBarContent{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    .NavBarContent nav ul li a{
    
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.2);
        
    }

    .menu-toggle-active{
        background: #b82b21;
        color: #fff;
         transition: 0.3s;
    }

    .NavBarContent nav.active{
        display: block !important;
    }

    .NavBarContent nav{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #333;
        top: 55px;
        left: 0;
        transition: 0.5s;
    }
    .NavBarContent nav ul{
        display: block;
        text-align: center;
    }

    .NavBarContent nav ul li ul{
    position: relative;  
    }

    .NavBarContent nav ul li ul li{
    position: relative;
    left: 0px;
    width: 100%;
    height: 45px;
}

}